name: Build and Publish Binaries

on:
  workflow_dispatch:
  push:
    branches:
      - master
  release:
    types: [published]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        architecture: [amd64, arm64]
    env:
      GOOS: ${{ matrix.os == 'ubuntu-latest' && 'linux' || 'darwin' }}
      GOARCH: ${{ matrix.architecture }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Build Binary
        run: |
          go build -o ipfs-key-${GOOS}-${GOARCH}
          chmod +x ipfs-key-${GOOS}-${GOARCH}

      - name: Compress Binary
        run: |
          zip ipfs-key-${GOOS}-${GOARCH}.zip ipfs-key-${GOOS}-${GOARCH}

      - name: Upload Binary as Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ipfs-key-${{ matrix.os }}-${{ matrix.architecture }}
          path: ipfs-key-${GOOS}-${GOARCH}.zip

      - name: Upload Release Asset
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./ipfs-key-${GOOS}-${GOARCH}.zip
          asset_name: ipfs-key-${GOOS}-${GOARCH}.zip
          asset_content_type: application/zip
